<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/productcart.css" />
<link rel="stylesheet" href="/css/arrivals.css">
    <title>New Arrivals</title>
  </head>
<style>
   .custom-submit {
        background:transparent; /* Green */
        border: none;
        color: white;
        padding: 0px 2px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 0px 2px;
        cursor: pointer;
        border: none;
        color: #000;
    }
   .mobile{
      display: none;
    }
    @media only screen and (max-width: 1024px) {
      .mobile{
      display: block;
    } 
    .desktop{
      display: none;
    }
    }
</style>
  <body>
    <!-- Header Section start -->
    <%- include('./component/navbar') %>
    <%- include('component/mobilenav') %>
   
        <img
          src="/images/Web-Model.jpg"
          alt="Descriptive Alt Text"
          style="width: 100%; height: auto; object-fit: cover"
        />
     
      </div>
    </section>
    <!-- slider section end -->
    <!-- After the slider section -->
    <%- include('component/brands') %>
    <!-- CART Section Start -->
    <%- include('component/newarrivalcomp') %>
    <!-- Cart Section End -->
    <!-- Footer Section -->
    <%- include('component/footer') %>
    <!-- Fo0ter section end -->
    <script>
      window.onload = function () {
        var prices = document.getElementsByClassName("price");
        for (var i = 0; i < prices.length; i++) {
          var price = parseFloat(prices[i].textContent);
          prices[i].textContent = new Intl.NumberFormat().format(price);
        }
      };
    </script>
  </body>
</html>
